.overviewName {
  display: block;
  margin-top: 80px;
  margin-left: max(156px, calc(15vw + 16px));
  width: 580px;
  height: 60px;
  padding-left: 10px;
  line-height: 60px;
  font-size: xx-large;
  font-weight: bolder;
  background-color: #1d1d1d !important;
  color: white !important;
  min-width: 440px;
}
