.topBorder {
  color: #a2a2a2;
  border-top: none !important;
  width: calc(40vw - 40px);
  border-bottom: 1px solid #a2a2a2 !important;
  padding-left: 0 !important;
  min-width: 400px;
  height: 24px;
}

.taskDescrip {
  outline: none;
  line-break: auto;
  width: 250px;
  margin-bottom: 4px;
  padding: 2px;
  cursor: pointer;
  padding: 8px;
}
.taskDescrip:active {
  outline: none;
}

.taskDescrip:focus {
  border: 1px solid #9c9c9c;
  padding: 7px;
  border-radius: 5px;
}
.expandedCheck:hover {
  color: white;
  background-color: #4b4b4b;
  border-radius: 2px;
}

.expandedDropdown:hover {
  color: white;
  background-color: #4b4b4b;
  border-radius: 2px;
}
.progressBox {
  display: flex;
  align-items: center;
}
.progressInput {
  outline: none;
  width: 36px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: #9c9c9c;
  display: inline-block;
  border-bottom: 1px solid #9c9c9c;
}
.progressInput:active {
  outline: none;
}
.progressInputForm {
  display: inline-block;
}
.close {
  color: white !important;
}
.close:hover {
  color: red !important;
  transition: all 0.2s ease-in !important;
}
.propertyChip {
  margin-top: 4px;
  margin-right: 8px !important;
  margin-bottom: 8px !important;
  background-color: #1d1d1d !important;
  border-color: white !important;
  color: white !important;
  text-align: center !important;
}
.inputProperty {
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  margin-right: 8px;
  width: 120px;
  border-bottom: 1px solid #9c9c9c;
  margin-bottom: 4px;
}

.inputProperty:active {
  outline: none;
}
.moveList {
  margin-left: 8px;
  display: inline-block;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #9c9c9c;
  font-size: 14px;
}
