.buttonZs {
  position: absolute;
  left: 580px;
  width: calc(100vw - 15vw - 580px - 32px);
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding-left: 16px;
}
.buttonDiv {
  display: flex;
  flex-direction: column;
}
.filterButton {
  background-color: #4b4b4b;
  margin-bottom: 16px !important;
  outline: none !important;
  color: white !important;
}

.filterButton:hover {
  background-color: #4a1a57 !important;
}
.filterButton:active {
  outline: none !important;
}
.sortButton {
  background-color: #4b4b4b;
  color: white !important;
  outline: none !important;
}
.sortButton:hover {
  background-color: #171e44 !important;
}
.sortButton:active {
  outline: none !important;
}

.filterOptions {
  color: white;
  width: 300px;
  height: fit-content;
  background-color: rgb(39, 39, 39);
  font-family: "Nunito", sans-serif;
  padding-bottom: 16px;
  margin-left: 16px;
}
.topText {
  padding-left: 16px;
  padding-top: 8px;
  font-size: 12px;
}

.Tag {
  font-weight: bold;
  padding-left: 16px;
  padding-top: 8px;
}
.priorityButtons {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0px;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 16px;
}
.priorityButton {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #414141;
  border-radius: 10px;
  cursor: pointer;
}

.priorityButton:hover {
  background-color: #4a1a57;
}

.clearPriority {
  display: flex;
  align-items: center;
  color: rgb(146, 1, 1);
}

.clearPriority:hover {
  color: rgb(197, 1, 1);
  cursor: pointer;
}

.progressSlider {
  width: 200px !important;
}

.progressWrap {
  display: flex;
  justify-content: space-around;
}

.clearProgress {
  color: rgb(146, 1, 1);
  cursor: pointer;
}
.clearProgress:hover {
  color: rgb(197, 1, 1);
}
.deadlineContainer {
  display: flex;
  padding-top: 16px;
  padding-bottom: 8px;
}
.deadlineInput {
  width: 100px;
  margin-right: 16px;
  outline: none !important;
  background-color: rgb(39, 39, 39);
  border: 1px solid rgb(85, 85, 85);
  color: rgb(160, 160, 160);
  padding-left: 4px;
  border-radius: 5px;
}

.deadlineInput:active {
  outline: none !important;
}

.clearDeadlines {
  color: rgb(146, 1, 1);
  cursor: pointer;
}
.clearDeadlines:hover {
  color: rgb(197, 1, 1);
}
.sideHandler {
  position: relative;
}

.propertyButtons {
  width: 276px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 14px;
}

.propertyButtonList {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

.propertyButton {
  margin: 2px;
  display: flex;
  align-items: center;
  border: 1px solid rgb(109, 109, 109);
  padding: 4px;
  border-radius: 5px;
  width: fit-content;
}
.propertyName {
  margin-bottom: 0px;
  padding-right: 8px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

.checkIt {
  display: block;
  width: 14px;
  height: 14px;
}

.sortOptions {
  margin-top: 16px;
  color: white;
  width: 300px;
  height: fit-content;
  background-color: rgb(39, 39, 39);
  font-family: "Nunito", sans-serif;
  margin-bottom: 16px;
  margin-left: 16px;
}

.sortBox {
  display: flex;
  width: 300px;
  justify-content: space-between;
  margin-top: 16px;
}

.sortList {
  list-style: none;
  display: inline-flex;
  padding-left: 0px;
  margin-bottom: 16px;
  font-size: 14px;
  flex-direction: column;
  margin-left: 16px;
  font-weight: bold;
}

.sortItems {
  padding: 8px;
}
.sortItems:hover {
  background-color: #2f386b;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.sortArrows {
  margin-right: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  cursor: default;
  font-weight: bold;
  width: 64px;
}
.spanDirection {
  color: #626eb3;
  display: inline-block;
  font-size: 14px;
}

.clickedSortOption {
  background-color: #485391;
}

.arrowStyle {
  background-color: #767c9e;
  width: 32px !important;
  height: 32px !important;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 4px;
}

.clearSort {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 14px;
  font-weight: bold;
}
.clearSortButton {
  color: rgb(255, 0, 0);
  background-color: #414141;
  padding: 2px;
  border-radius: 10px;
  margin-top: 4px;
}
.clearSortButton:hover {
  cursor: pointer;
}
