.heading {
  height: 64px;
  width: 100vw;
  background-color: #0f1425;
  display: grid;
  grid-template-columns: 2fr 6fr minmax(170px, 1fr) 1fr;
  min-width: 661px;
}

.logo {
  width: 169px;
  height: 64px;
  background-image: url("./Logo.png");
  background-size: contain;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 4px;
}

.logoLink {
  height: 64px;
  width: 169px;
}
.navigation {
  display: flex;
  align-items: center;
  width: 260px;
  justify-content: space-around;
}

.navigation div {
  padding: 20px;
  font-size: 16px;
  font-family: "Nunito", sans-serif;
  text-align: center;
  color: #b1b2b7;
}

.navigation div:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 18px;
}

.navigation div:active {
  font-weight: 700;
}

.navigation a:hover {
  text-decoration: none;
}

.time {
  color: white;
  text-align: center;
  line-height: 64px;
  font-family: "Nunito", sans-serif;
}
.avatarControl {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  cursor: pointer;
}
