@media screen and (min-width: 780px) {
  .heading {
    height: 64px;
    width: 100vw;
    background-color: #0f1425;
    display: grid;
    position: fixed;
    grid-template-columns: 2fr 6fr 200px 100px;
    z-index: 2;
    top: 0%;
    user-select: none;
  }
  .diff {
    display: none !important;
  }
  .first {
    padding: 20px;
    font-size: 16px;
    font-family: "Nunito", sans-serif;
    color: #b1b2b7;
  }
}
@media screen and (max-width: 780px) {
  .heading {
    height: 64px;
    width: 100vw;
    background-color: #0f1425;
    display: grid;
    position: fixed;
    grid-template-columns: 150px 1fr 0px 100px;
    z-index: 2;
    top: 0%;
    user-select: none;
  }
  .diff {
    display: inline-flex;
    color: #b1b2b7;
    height: 64px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }
  .first {
    display: none;
  }
}
.logo {
  width: 169px;
  height: 64px;
  background-image: url("./Logo.png");
  background-size: contain;
  padding-top: 4px;
  padding-bottom: 4px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-left: 4px;
}

.navigation {
  display: inline-flex;
  align-items: center;
  width: 260px;
  justify-content: space-around;
  height: 64px;
}

.first:hover {
  color: white;
  text-decoration: none;
  border-bottom: 2px solid white;
  padding-bottom: 18px;
  transition: all 0.1s ease-in;
}
.diff:hover {
  color: white;
  border-bottom: 2px solid white;
  transition: all 0.1s ease-in;
}

.navigation a:active {
  font-weight: 700;
}

.navigation a:hover {
  text-decoration: none;
}

.time {
  display: inline-block;
  color: white;
  text-align: center;
  line-height: 64px;
  font-family: "Nunito", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.avatarControl {
  display: flex;
  height: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile {
  cursor: pointer;
}

.logout {
  color: #efeff1;
  padding-right: 120px;
}
.profSettings {
  color: #efeff1;
}

.profileDropdown {
  position: fixed;
  height: fit-content;
  width: 250px;
  background-color: #18181b;
  top: 60px;
  left: calc(100vw - 275px);
  z-index: 3;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.hidden {
  display: none;
}

.profileDropdown ul {
  display: inline-flex;
  list-style-type: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  padding-left: 0px;
  transition: all 0.1s linear;
  margin: 0;
}

.profileDropdown ul li {
  height: 48px;
  width: 242px;
  border-bottom: 1px solid #303032;
  display: flex;
  align-items: center;
}

.profileDropdown ul li a {
  height: 40px;
  width: 242px;
  display: flex;
  align-items: center;
}

.profileDropdown ul li a:hover {
  background-color: #3f3f41;
  border-radius: 2px;
  text-decoration: none;
  transition: all 0.1s linear;
}

.profileDropdown ul li span {
  padding-left: 4px;
  font-size: 16px;
  color: #efeff1;
  display: inline-block;
}

.tabProfile {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content !important;
}

.tabProfile img {
  height: 30px;
  width: 30px;
  border-radius: 16px;
}

.tabName {
  padding-left: 4px;
  color: #efeff1;
  word-wrap: break-word;
  width: 208px;
}

.profileTab {
  padding-right: 0px;
}
.profileIcon {
  margin-left: 2px;
  margin-top: 2px;
  color: white;
}

.logoutIcon {
  margin-left: 2px;
  margin-top: 2px;
  color: #c90b0b;
}
/* 710px media query change*/
