.container {
  background-color: hsl(227, 42%, 10%);
  width: 100vw;
  height: 100%;
}
.heading {
  height: 64px;
  width: 100vw;
  display: flex;
}
.heading ul {
  height: 64px;
  width: 95vw;
  list-style: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.heading ul li {
  display: flex;
  font-weight: bold;
  color: white;
  align-items: center;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
}

.heading ul li p:hover {
  color: #ffbd59;
  cursor: pointer;
}
.heading ul li p {
  display: inline-block;
  margin-bottom: 0px;
  margin-left: 4px;
  margin-right: 4px;
  color: white;
}
.divi {
  cursor: default;
}
.register {
  color: #e4d9ff;
}
.topMost {
  display: flex;
  padding-top: 72px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mainImage {
  width: 40vw;
  height: 300px;
  background-image: url("main.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-left: 100px;
}
.top {
  height: max-content;
  display: flex;
  flex-direction: column;
}
.tip {
  height: 60px;
}
.welcome {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  color: rgb(228, 228, 228);
  width: 30vw;
  margin-left: 100px;
}
.welcome2 {
  font-family: "Nunito", sans-serif;
  font-weight: bolder;
  color: rgb(228, 228, 228);
  width: 30vw;
  margin-left: 100px;
}
.welcome3 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  margin-top: 64px;
  color: rgb(228, 228, 228);
  display: inline-block;
  width: 35vw;
  margin-left: 100px;
}
.tick {
  color: #ffbd59;
}
.tick2 {
  color: #ffbd59;
  font-weight: bold;
}
.topButtons {
  display: inline-flex;
  width: 270px;
  margin-left: 100px;
  justify-content: space-between;
  margin-top: 16px;
}
.button1 {
  position: relative;
  width: 130px;
  background-color: #fda31b !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: bold !important;
}
.button1:hover {
  background-color: #ffaf37 !important;
  bottom: 1px;
  color: black;
}
.button1:active {
  color: black;
}
.button2 {
  position: relative;
  width: 130px;
  border-color: #ba9eff !important;
  color: #ba9eff !important;
  outline: none !important;
}
.button2:hover {
  border-color: #e4d9ff !important;
  color: #e4d9ff !important;
}
.button2:active {
  outline: none !important;
}
.middle {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  background-color: #03032e;
}

.featuresHead {
  display: inline-block;
  color: white;
  font-family: "Nunito", sans-serif;
  padding-top: 20px;
}
.middle2 {
  width: 80vw;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.middleList {
  list-style: none;
  font-family: "Nunito", sans-serif;
  color: white;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
}
.middleList1 {
  font-weight: bold;
  font-size: 24px;
}
.middleList li {
  width: 35vw;
  padding-left: 20px;
  padding-top: 16px;
  padding-right: 8px;
}
.middleList li:hover {
  background-color: #181847 !important;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
.simpleHead {
  color: white;
  font-family: "Nunito", sans-serif;
}
.apps {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: center;
  background-color: #24244b;
}
.appList {
  list-style: none;
  display: flex;
  padding-left: 20px;
  margin-bottom: 0px;
}
.appList li img {
  margin-right: 20px;
}
.power {
  color: white;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-bottom: 0px;
}
.gitStuff {
  color: white;
  background-color: #34345a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
}
.gitStuff p {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  margin-right: 50px;
  margin-bottom: 0px;
}
.gitStuff img {
  transition: transform 0.7s ease-in-out;
}
.gitStuff img:hover {
  transform: rotate(360deg);
}
.version {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #a684fc;
}
.version p {
  margin-bottom: 0;
  color: rgb(255, 255, 255);
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.middleR {
  display: flex;
  align-items: center;
}
.middleR1 {
  background-image: url("./list.jpg");
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
.middleR2 {
  background-image: url("./list2.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
.middleR3 {
  background-image: url("./list3.png");
  width: 400px;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}
.middleMid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}
.middleLow {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product {
  margin-top: 50px;
  background-image: url("product.png");
  background-size: contain;
  background-position: center;
  width: 70vw;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.remember {
  margin-top: 50px;
  background-image: url("remember.png");
  background-size: contain;
  background-position: center;
  width: 70vw;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 100px;
}
