.addTask {
  width: 540px;
}
/* Add Button */
.addTaskBegin {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  color: #f2aa4cff;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
}
.addTaskBegin:hover {
  color: rgb(245, 158, 46);
}
.addTaskButton {
  background-color: #f2aa4cff !important;
  outline: none;
  margin-right: 16px !important;
}

.addButtonPlus {
  color: #1d1d1d;
  transform: scale(1.2);
}

.addTaskButton:hover {
background-color: rgb(245, 158, 46) !important;
}

.addTaskButton:focus {
outline: none;
}

/* Add Task Box*/
.addTaskBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  width: 540px;
}

/* Text, Deadlines and labels container box */
.textDeadlineLabel {
  display: flex;
  flex-direction: column;
}

/* Text box for inputting tasks*/
.addTaskText {
  font-family: "Nunito", sans-serif;
  color: white !important;
  border-style: none;
  width: 420px;
  outline: none;
  height: auto !important;
  padding-left: 8px;
  padding-top: 8px;
  font-size: 14px;
  margin-bottom: 8px;
  line-break: auto;
}

[contentEditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: #9c9c9c;
  font-size: 14px;
}

.addTaskText:active {
  outline: none;
}

/* Let's you click anywhere and focus on the text*/
.typableArea:hover {
  cursor: text;
}

.typableArea {
  height: 50px;
}
/* Represents the container of the priority and todo-date*/
.sideButton {
  width: 32px;
  height: 32px;
  color: white;
  margin-right: 8px;
  margin-top: 8px;
  position: relative;
}

/* Deadline section*/
.deadlineBox {
  margin-left: 8px;
  width: fit-content;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.deadlineIcon {
  color: white;
  cursor: pointer;
}
.deadlineText {
  color: white;
  background-color: #1d1d1d;
  outline: none;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  border-style: none;
  padding-left: 4px;
  border-bottom: 1px solid white;
}

.deadlineText:active {
  outline: none;
}
.propertyBox {
  height: fit-content !important;
}
.labelBox {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  color: white;
  width: fit-content;
  font-size: 14px;
  flex-wrap: wrap;
}

.addPropertyField {
  outline: none;
  background-color: #1d1d1d;
  border-style: none;
  border-bottom: 1px solid white;
  color: white;
  font-family: "Nunito", sans-serif;
  margin-right: 8px;
  margin-bottom: 8px;
}

.addPropertyField:active {
  outline: none;
}

.propertyChip {
  margin-right: 8px !important;
  margin-bottom: 8px !important;
  background-color: #1d1d1d !important;
  border-color: white !important;
  color: white !important;
  text-align: center !important;
}

.close {
  color: white !important;
}
.close:hover {
  color: red !important;
  transition: all 0.2s ease-in !important;
}
.sideButton1 {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sideButton1:hover {
  background-color: #303030;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}

.sideButton2 {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sideButton2:hover {
  background-color: #303030;
  border-radius: 5px;
  transition: background-color 0.2s ease-in;
}

.priorityOptions {
  position: absolute;
  display: inline-block;
  left: 40px;
  top: -10px;
}

.priorityOptions ul {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 0px;
  background-color: #303030;
}
.priorityOptions li {
  width: 120px;
  height: 46px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.priorityOptions li:hover {
  background-color: #535353;
  cursor: pointer;
  transition: background-color 0.2s ease-in;
}
.priorityOptions li:active {
  background-color: #5f5f5f;
  cursor: pointer;
}
.po1 {
  color: red;
}
.po2 {
  color: rgb(218, 109, 7);
}
.po3 {
  color: rgb(255, 217, 0);
}
.po4 {
  color: rgb(27, 228, 1);
}
.addTaskMenu {
  width: calc(40vw - 40px);
  height: 200px;
}
.confirmButton {
  margin-top: 8px !important;
  margin-right: 8px !important;
  color: white !important;
  background-color: rgb(0, 100, 0) !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
  outline: none !important;
}

.confirmButton:hover {
  background-color: rgb(0, 128, 0) !important;
  transition: all 0.2s ease-in !important;
  font-weight: bold !important;
}

.confirmButton:active {
  outline: none !important;
}

.cancelButton {
  margin-top: 8px !important;
  background-color: #292929 !important;
  color: red !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
  outline: none !important;
}
.cancelButton:hover {
  background-color: #2b2b2b !important;
  font-weight: bold;
}

.cancelButton:active {
  outline: none !important;
}
