/* Global styles*/

/* 1. Root background */

/* 2. Task Table*/
.todo_table {
  width: 540px;
  min-width: 400px;
}
.todo_table tbody {
  display: inline-block;
  margin-top: 4px;
}

.todo_table th {
  color: #a2a2a2;
  border-top: none !important;
  width: 540px;
  border-bottom: 1px solid #a2a2a2 !important;
  padding-left: 0 !important;
  min-width: 400px;
}

.taskData td {
  border-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskData {
  height: fit-content;
  display: grid;
  padding: 16px;
  padding-left: 0px;
  margin-bottom: 4px;
  width: 540px;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr;
  min-width: 400px;
}

.taskData:hover {
  background-color: #242424;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.checkbox {
  color: #9c9c9c;
  cursor: pointer;
  width: 24px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}

.task_name {
  color: white;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  width: 250px;
}

.task_name:hover {
  cursor: default;
}

.dropdown {
  color: #9c9c9c;
  width: 24px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}

.deadline {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.todo_date {
  color: #9c9c9c;
  display: flex !important;
  align-items: center;
}
.todoDateText {
  margin-left: 6px;
  padding: 2px;
  width: 90px;
  text-align: center;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  outline: none;
  color: #9c9c9c;
}
.todoDateText:hover {
  background-color: #525252 !important;
  border-radius: 2px;
  cursor: pointer;
  color: #e2e2e2 !important;
}
.todoDateText:active {
  outline: none;
}

.deadlineBox {
  color: #9c9c9c;
  display: flex !important;
  align-items: center;
}
.date {
  color: #9c9c9c;
  margin-left: 6px;
  padding: 2px;
  width: 72px;
  text-align: center;
}
.deadlineDate {
  margin-left: 6px;
  padding: 2px;
  width: 90px;
  text-align: center;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  outline: none;
  color: #9c9c9c;
}
.deadlineDate:hover {
  background-color: #525252 !important;
  border-radius: 2px;
  cursor: pointer;
  color: #e2e2e2 !important;
}
.deadlineDate:active {
  outline: none;
}
.deadlineTime {
  margin-left: 6px;
  padding: 2px;
  width: 64px;
  text-align: center;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  outline: none;
  color: #9c9c9c;
}
.deadlineTime:hover {
  background-color: #525252 !important;
  border-radius: 2px;
  cursor: pointer;
  color: #e2e2e2 !important;
}
.deadlineTime:active {
  outline: none;
}
.date:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}
.time {
  margin-left: 6px;
  padding: 2px;
  color: #9c9c9c;
  width: 72px;
  text-align: center;
}

.time:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}
.progress_value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  width: 30px;
  height: 44px;
}

.progress {
  background-color: rgba(0, 0, 0, 0);
  color: #a08a40 !important;
}

.progress_value:hover {
  background-color: #525252;
  border-radius: 2px;
  transition: background-color 0.3s linear;
}
.priority {
  color: #9c9c9c;
  width: 24px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}
.deleteTask {
  color: #9c9c9c;
  width: 24px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteTask:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/* Input main task */
.add_task {
  position: relative;
}
.add_task:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

.add_button {
  position: relative;
  text-align: center;
}
.add_button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

/* Table within task box */

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

/* Modal content*/
.modal-content {
  background-color: #dbe9ee;
}

.modal-content td {
  background-color: #dbe9ee;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-body {
  border-bottom: 1px solid black;
}

.expandedTaskData {
  height: fit-content;
  margin-bottom: 4px;
  width: 540px !important;
  background-color: #242424;
}
.expandedTaskData td {
  padding: 0px;
  border-style: none;
}
.expandedTaskData1 {
  margin-top: 8px;
  margin-bottom: 24px;
  width: 540px;
  height: fit-content;
  display: grid;
  grid-template-columns: 45px 420px 75px;
}

.checkbox1 {
  color: #e2e2e2;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.dropdown1 {
  color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform: rotate(180deg);
  cursor: pointer;
}

.taskDescrip1 {
  margin-left: 8px;
  outline: none;
  line-break: auto;
  cursor: text;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: white;
}

.taskDescrip1:active {
  outline: none;
}

.expandedTaskData2 {
  display: grid;
  width: 540px;
  grid-template-columns: 270px 270px;
  /* border-top: 1px solid #9c9c9c50;*/
  padding-top: 16px;
}

.priority1 {
  color: #9c9c9c;
  display: flex;
  font-weight: 700;
  align-items: center;
}

.priorityIcon1 {
  margin-left: 8px;
  margin-right: 8px;
  cursor: pointer;
}

.leftSide1 {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.leftSide1 .todo_date1,
.deadlineBox1,
.priority1 {
  height: 64px;
  display: flex;
  align-items: flex-start;
}
.todo_date1 {
  color: #9c9c9c;
  display: flex !important;
  align-items: center;
  font-weight: 700;
}
.todoDateText1 {
  margin-left: 6px;
  padding: 2px;
  width: 90px;
  text-align: center;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  outline: none;
  color: #9c9c9c;
}
.todoDateText1:active {
  outline: none;
}
.todoDateText1:hover {
  background-color: #525252 !important;
  border-radius: 2px;
  cursor: pointer;
  color: #e2e2e2 !important;
}
.todoDateIcon1 {
  margin-left: 8px;
  margin-right: 8px;
}

.deadlineBox1 {
  color: #9c9c9c;
  display: flex !important;
  align-items: flex-start;
  font-weight: 700;
}

.deadlineDate1 {
  margin-left: 6px;
  padding: 2px;
  width: 150px;
  text-align: center;
  cursor: pointer;
  background-color: transparent !important;
  border: none;
  outline: none;
  color: #9c9c9c;
}
.deadlineDate1:hover {
  background-color: #525252 !important;
  border-radius: 2px;
  cursor: pointer;
  color: #e2e2e2 !important;
}
.deadlineIcon1 {
  margin-left: 8px;
  margin-right: 8px;
}

.progress_value1 {
  display: flex;
  flex-direction: column;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  color: #9c9c9c;
  font-size: 14px;
  width: 270px;
  margin-left: 8px;
  justify-content: space-evenly;
}
.progressSlider1 {
  width: 200px !important;
  margin-top: 8px;
  margin-left: 8px;
}

.properties1 {
  margin-left: 8px;
  color: #9c9c9c;
  font-weight: 700;
  font-size: 14px;
  width: 476px;
}

.expandedTaskData3 {
  display: flex;
  padding-bottom: 16px;
}

.deleteTask1 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgb(180, 34, 34);
  margin-top: 20px;
  margin-bottom: 8px;
  margin-right: 8px;
  font-size: 12px;
}

.deleteTask1:hover {
  color: rgb(250, 46, 46);
  cursor: pointer;
}
