/* Global styles*/

/* 1. Root background */

/* 2. Task Table*/
.todo_table {
  width: calc(40vw - 40px);
}
.todo_table tbody {
  display: inline-block;
  margin-top: 4px;
}

.todo_table th {
  color: #a2a2a2;
  border-top: none !important;
  width: calc(40vw - 40px);
  border-bottom: 1px solid #a2a2a2 !important;
  padding-left: 0 !important;
}

.taskData td {
  border-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskData {
  height: fit-content;
  display: grid;
  padding: 16px;
  padding-left: 0px;
  margin-bottom: 4px;
  width: calc(40vw - 40px);
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr 1fr 1fr;
}

.taskData:hover {
  background-color: #242424;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.checkbox {
  color: #9c9c9c;
  cursor: pointer;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 10px;
  cursor: pointer;
}

.task_name {
  color: white;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.task_name:hover {
  cursor: default;
}

.dropdown {
  color: #9c9c9c;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 10px;
}

.deadline {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.deadline div {
  color: #9c9c9c;
  display: flex;
  align-items: center;
}

.todo_date text {
  margin-left: 6px;
  padding: 2px;
}

.todo_date text:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}

.date {
  color: #9c9c9c;
  margin-left: 6px;
  padding: 2px;
}

.date:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}
.time {
  margin-left: 6px;
  padding: 2px;
  color: #9c9c9c;
}

.time:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 2px;
  cursor: pointer;
}
.progress_value {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10px;
  width: 40px;
  height: 44px;
}

.progress {
  background-color: rgba(0, 0, 0, 0);
  color: #a08a40 !important;
}

.progress_value:hover {
  background-color: #525252;
  border-radius: 10px;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
.priority {
  color: #9c9c9c;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.priority:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 10px;
  cursor: pointer;
}
.deleteTask {
  color: #9c9c9c;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteTask:hover {
  color: #e2e2e2;
  background-color: #525252;
  border-radius: 10px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Input main task */
.add_task {
  position: relative;
}
.add_task:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

.add_button {
  position: relative;
  text-align: center;
}
.add_button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
    0 8px 16px rgba(0, 0, 0, 0.11);
}

/* Table within task box */

.btn {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

/* Modal content*/
.modal-content {
  background-color: #dbe9ee;
}

.modal-content td {
  background-color: #dbe9ee;
}

.modal-header {
  border-bottom: 1px solid black;
}

.modal-body {
  border-bottom: 1px solid black;
}
