.mainBody {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #121212;
  font-family: "Nunito", sans-serif;
}

.overviewName {
  display: block;
  position: absolute;
  top: 80px;
  left: 280px;
  width: 40vw;
  height: 60px;
  padding-left: 10px;
  line-height: 60px;
  font-size: xx-large;
  font-weight: bolder;
  background-color: #1d1d1d !important;
  color: white !important;
}

.overviewBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 168px;
  left: 280px;
  width: 40vw;
  background-color: #1d1d1d !important;
  align-items: center;
}

/*.overviewBox table {
  width: calc(40vw - 40px);
}
.overviewBox table tbody {
  display: inline-block;
  margin-top: 2px;
}
.overviewBox th {
  color: #a2a2a2;
  border-top: none !important;
  width: calc(40vw - 40px);
  border-bottom: 1px solid #a2a2a2 !important;
  padding-left: 0 !important;
}

.overviewBox table tbody td {
  border-style: none;
  padding: 0;
  display: inline-block;
  margin-top: 2px;
  margin-bottom: 2px;
}

.overviewBox table tbody tr {
  height: 56px;
  display: inline-block;
  padding: 16px;
  margin-bottom: 2px;
  width: calc(40vw - 40px);
}*/
