.table {
  background-color: #242424;
  border-spacing: 0rem;
  padding: 8px;
  display: inline-block;
  width: 540px;
}
.table tr {
  width: 524px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  border-radius: 8px;
  height: 32px;
}
.table tr td {
  display: flex;
  align-items: center;
}
.table tr:hover {
  background-color: #3a3a3a;
}
.subtasksHeader {
  color: #9c9c9c;
  display: flex;
  align-items: center;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}
.form {
  display: flex;
  justify-content: space-between;
  padding-right: 8px;
  margin-bottom: 16px;
}
.inputSubtasks {
  margin-left: 8px !important;
  background-color: #242424;
  color: #ffffff !important;
  border: 1px solid #9c9c9c;
  border-radius: 5px;
  outline: none;
  width: 450px !important;
  height: 36px;
  padding: 8px !important;
  margin-right: 8px;
}
.inputSubtasks:active {
  outline: none;
}
.inputSubtasks:focus {
  border: 1px solid #dadada;
}
.editSubtasks {
  margin-left: 8px;
  background-color: #24242400;
  color: #ffffff;
  border: 0px;
  width: 300px;
  outline: none;
  overflow: scroll !important;
}
.editSubtasks:active {
  outline: none;
}
.addSubtask {
  background-color: rgb(0, 0, 0, 0) !important;
}
.addSubtask:hover {
  background-color: rgb(0, 121, 0) !important;
}

.deleteSubtask {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgba(180, 34, 34, 0.521);
}

.deleteSubtask:hover {
  color: rgb(250, 46, 46);
  cursor: pointer;
}

.expandedCheck:hover {
  color: white;
  background-color: #4b4b4b;
  border-radius: 2px;
}
