.sideBar {
  background-color: #0f1425;
  position: fixed;
  height: 100vh;
  /* Change this*/
  width: max(140px, 15vw);
  z-index: 2;
  top: 64px;
}

.sideBar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}
.sideBar ul li {
  margin-left: 16px;
  width: max(108px, calc(15vw - 32px));
}
.sideBar ul a {
  display: flex;
  /* Change this*/
  width: max(108px, calc(15vw - 32px));
  height: 40px;
  align-items: center;
  color: #808080;
  border-radius: 5px;
}
.sideBar ul a div {
  padding-left: 4px;
}
.overview a:hover {
  background-color: #273469;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.overview a:active {
  font-weight: bold;
  color: #d58f8f;
}

.calendar a:hover {
  background-color: #273569;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.calendar a:active {
  font-weight: bold;
  color: #52a384;
}
.mainTask {
  margin-top: 8px;
}
.mainTask a:hover {
  background-color: #273569;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.mainTask a:active {
  font-weight: bold;
  color: #b1a432;
}

.overviewIcon {
  margin-left: 4px;
}

.calendarIcon {
  margin-left: 4px;
}

.maintaskIcon {
  margin-left: 4px;
}

.calendar {
  border-bottom: 1px solid white;
  height: 48px;
}

.addList {
  margin-top: 8px;
  margin-left: 15px;
  padding-left: 2px;
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  color: #e4d9ff;
  font-family: "Nunito", sans-serif;
}

.addList:hover {
  cursor: pointer;
  font-weight: bold;
}
