.sideBar {
  background-color: #0f1425;
  position: fixed;
  height: 100vh;
  /* Change this*/
  width: max(150px, 15vw);
  z-index: 2;
  top: 64px;
}

.sideBar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
}
.sideBar ul li {
  margin-left: 16px;
  width: max(112px, calc(15vw - 32px));
}
.sideBar ul a {
  display: flex;
  /* Change this*/
  width: max(112px, calc(15vw - 32px));
  height: 40px;
  align-items: center;
  color: #808080;
  border-radius: 5px;
  margin-bottom: 8px;
}
.sideBar ul a div {
  padding-left: 4px;
}
.overview a:hover {
  background-color: #273469;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.overview a:active {
  font-weight: bold;
  color: #d58f8f;
}

.calendar a:hover {
  background-color: #273569;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.calendar a:active {
  font-weight: bold;
  color: #52a384;
}
.mainTask {
  margin-top: 8px;
}
.mainTask a:hover {
  background-color: #273569;
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in;
}

.mainTask a:active {
  font-weight: bold;
  color: #b1a432;
}

.overviewIcon {
  margin-left: 4px;
}

.calendarIcon {
  margin-left: 4px;
}

.maintaskIcon {
  margin-left: 4px;
}

.calendar {
  border-bottom: 1px solid white;
  height: 48px;
}

.addListButton {
  margin-top: 8px;
  margin-left: 15px;
  padding-left: 2px;
  display: flex;
  align-items: center;
  width: 100px;
  height: 30px;
  color: #e4d9ff;
  font-family: "Nunito", sans-serif;
}

.addListButton:hover {
  cursor: pointer;
  font-weight: bold;
}

.confirmButton {
  margin-top: 8px !important;
  margin-right: 8px !important;
  color: white !important;
  background-color: #bda5fc !important;
  font-family: "Nunito", sans-serif !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
  outline: none !important;
  font-weight: 700 !important;
}

.confirmButton:hover {
  background-color: #865df0 !important;
  transition: all 0.2s ease-in !important;
  font-weight: bold !important;
}

.confirmButton:active {
  outline: none !important;
}

.addList {
  margin-left: 10px;
  padding: 10px;
}

.addListName {
  padding: 8px;
  align-items: center;
  width: 150px;
  color: white;
  outline: none;

  border: 1px solid rgb(133, 133, 133);
}
.addListName:active {
  outline: none;
}
.listTabs {
  max-height: 300px;
  overflow-y: auto;
}
